# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/apps/web/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/apps/web/coverage

# next.js
/apps/web/.next/
/apps/web/out/

# production
/apps/web/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
/apps/web/next-env.d.ts

# cursor
.cursorrules
.cursorignore

# I'm adding this because I used the local history for the first time in this project
# Now I can't stop the IDE from saving a million files to this folder
# It probably got trust issues with me, like I'm gonna lose my work again
# You can delete this if you don't got same problem (unlikely you do)
.history

CONTRIBUTING.dev.md
scripts/decode-jwt.py

.trigger
.cursor/mcp.json

.cursor/rules/add_words.mdc
.cursor/rules/searching_words.mdc

scripts/add_words.ts
scripts/english_words.txt
scripts/all_english_words.txt
scripts/get_words.ts
scripts/tsconfig.json
scripts/lowercase_all_words.ts

/apps/extension/dist
/apps/extension/node_modules